#chat-screen {
    background-color: #ABC1D1;
    height: 11000vh;
}

#chat-screen .status-bar{
    z-index: 1;
}

#chat-screen .alt-header , .status-bar {
    background-color: #ABC1D1;
}

#chat-screen .alt-header{
    margin-top: 15px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .main-chat{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.chat__timestamp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    background-color: #92a4b2;
    padding: 8px;
    border-radius: 25px;
}

.message-row{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 15px;

}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 8px;
    display: block;
}

.message__bubble{
    background-color: white;
    padding: 8px 15px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__info{
    display: flex;
    align-items: flex-end;
}

.message__time{
    opacity: 0.8;
    font-size: 8px;

}

.message-row--own{
    justify-content: flex-end;
}

.message-row--own .message__info{
    flex-direction: row-reverse;
}

.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px ;
    border-top-left-radius:15px ;
    margin-right: 0px;
    margin-left: 5px;
}

.reply{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    box-sizing: border-box;
    align-items: center;
}


.reply .reply__column:first-child{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply .reply__column:last-child{
    
    width: 90%;
    position: relative;
    padding-right:40px;
    
}


.reply input {
    height: 30px;
    width: 100%;
    border: var( --main-border);
    border-radius: 20px;
    padding: 0px 15px;
}

.reply i{
    opacity: 0.5;
}

.reply__column:last-child > i, 
.reply__column:last-child button {
    position: absolute;
    right: 0px;
    top: 3px
}

.reply__column:last-child > i {
    right: 45px;
    top:15px;
}

.reply__column:last-child > button {
    right: 11px;
}


.reply__column button{
    background-color: var(--yellow);
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;

}

.reply__column button i{
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}
