.screen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    margin-top: 30px;
}

.screen-header__title{   
    font-size: 32px;
    font-weight: 600;        
}

.screen-header__icons span{        
    left: 20px;
    bottom: 15px;
    margin-left: 25px;            
}

.screen-header__notification{
    position: absolute;
    right: 17px;
    top: 60px;
}